<article class="content dashboard-page">
 <section class="section" ng-controller="notificheController">
   		<div class="row sameheight-container" ng-if="visualizzaEsito">
   			<div class="col-md-12">
               <div class="card sameheight-item stats" data-exclude="xs">
                   <div class="card-block">
                       <div class="title-block">
                           <h4 class="title"> Esito Operazione</h4>
                       </div>
                        <div class="row" style="background-color: {{coloreSfondoEsito}}">
                        	<span>{{messaggioEsito}}</span>
                        </div>
                   </div>
               </div>
           </div>
   		</div> 
   		banner: 70 caratteri spazi inclusi<br></br>
		centro notifiche: 119 caratteri<br></br>
   		numero caratteri : {{testo.length}}
   		<br></br>
	 	<!-- <textarea  ui-tinymce="tinymceOptions" ng-model="testo"></textarea>	-->
	 	<textarea  style="width:500px;" ng-model="testo"></textarea>	
	 	<br></br>
	 	<button style="width: 80px;height: 45px" ng-click="invia()">Invia</button>
	</section> 
	
</article>